<% provide(:title,'Вход на сайт') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='edit col-md-4 col-md-offset-4'>
	<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.text_field :email, class: 'edit_area form-control', placeholder:'Электронная почта' %>
		<%= f.password_field :password, class: 'edit_area form-control', placeholder:'Пароль' %>

		<div class='bottom_buttons_holder'>
			<div class='row'>
				<%= link_to 'Отмена', root_path, class: 'btn btn-default pull-left' %>
				<%= f.submit 'Войти', class: 'btn btn-primary pull-right' %>
			</div>
			<hr>
			<div>
				<%= link_to 'Забыли пароль?', reset_password_path %>
			<div>
			</div>
				<%= link_to 'Повторная активация', activation_path %>
			</div>
		</div>
	<% end %>
</div>
