<% provide(:title,"Объект «#{@obj.name}»") %>

<div class='col-md-6 col-md-offset-3'>
	<%= render 'comfort_buttons' %>

	<h2 class='page_title'><%= yield(:title) %></h2>

	<div class='row'>
		<%= 
			link_to(
				'Изменить', 
				edit_matter_path(@obj.id), 
				class:'btn btn-default btn-sm',
			) if (signed_in? && current_user.admin?)
		%>
		<%= 
			link_to(
				'Удалить', 
				matter_path(@obj.id), 
				method: :delete, 
				data: {confirm:"Удалить объект «#{@obj.name}»?"},
				class: 'btn btn-danger btn-sm pull-right',
			) if (signed_in? && current_user.admin?)
		%>
	</div>

	<hr>
	<h4>Связанные карточки: <%= "пока нет" if @obj.cards.empty? %></h4>
	<ul>
		<% @obj.cards.all.each do |crd| %>
			<li><%= link_to crd.title, card_path(crd) %></li>
		<% end %>
	</ul>
</div>