<%= f.label :name, 'Имя' %>
<%= f.text_field :name, class: 'card_edit_title' %>

<%= f.label :email, 'Электронная почта' %>
<%= f.text_field :email, class: 'card_edit_content' %>

<%= f.label :password, 'Пароль' %>
<%= f.password_field :password, class: 'card_edit_content' %>

<%= f.label :password_confirmation, 'Подтверждение пароля' %>
<%= f.password_field :password_confirmation, class: 'card_edit_content' %>

<%
	if 'edit'==mode
		cancel_path = user_path(@user)
		button_text = 'Изменить'
	else
		cancel_path = users_path
		button_text = 'Создать'
	end
%>

<div class='vspacer20'></div>
<%= link_to('Отмена', cancel_path, class: 'btn pull-left') if 'edit'==mode %>
<%= f.submit button_text, class: 'btn btn-primary pull-right' %>
