<%= f.label :name, 'Имя' %>
<%= f.text_field :name, class: 'edit_field' %>

<%= f.label :email, 'Электронная почта' %>
<%= f.text_field :email, class: 'edit_area' %>

<%= f.label :password, 'Пароль' %>
<%= f.password_field :password, class: 'edit_area' %>

<%= f.label :password_confirmation, 'Подтверждение пароля' %>
<%= f.password_field :password_confirmation, class: 'edit_area' %>

<%
	case mode
	when 'edit'
		cancel_path = user_path(@user)
		button_text = 'Сохранить'
	when 'create'
		cancel_path = users_path
		button_text = 'Зарегистрироваться'
	else
		cancel_path = root_path
		button_text = 'Отправить'
	end
%>

<div class='bottom_buttons_holder'>
	<%= link_to('Отмена', cancel_path, class: 'btn pull-left') %>
	<%= f.submit button_text, class: 'btn btn-primary pull-right' %>
</div>