<% provide(:title,'Создание нового пароля') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<%= form_for(@user, url: new_password_path, method:'post') do |f| %>
	<%= render 'shared/error_messages.html.erb', object:f.object %>
	
	<%= f.hidden_field :id %>
	<%= f.hidden_field :reset_code, value:reset_code %>

	<%= f.label :password, 'Новый пароль' %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation, 'Подтверждение нового пароля' %>
	<%= f.password_field :password_confirmation %>
	
	<%= f.submit 'Установить' %>
<% end %>
