<% provide(:title,'Создание нового пароля') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<%= form_for(@user) do |f| %>
	<%= f.label :password, 'Новый пароль' %>
	<%= f.text_field :password %>
	
	<%= f.label :password_confirmation, 'Подтверждение нового пароля' %>
	<%= f.text_field :password_confirmation %>
	
	<%= f.submit 'Установить' %>
<% end %>
