<% provide(:title,'Восстановление пароля') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<%= form_tag(url_for(controller:'users',action:'reset_request')) do %>
	<%= label_tag :email, 'Электронная почта' %>
	<%= text_field_tag :email %>
	<%= submit_tag 'Отправить', class:'btn btn-default' %>
<% end %>
