<%= link_to 'Главная', home_path, class: 'btn btn-primary' %>

<span class="btn-group">
	<a href='<%= matters_path %>' class="btn btn-info">Объекты</a>
	
	<% if signed_in? && current_user.admin? %>
 		<a href='<%= new_matter_path %>' class="btn btn-info dropdown-toggle">
 			<span  class='glyphicon glyphicon-plus'></span>
 		</a>
	<% end %>
</span>

<span class="btn-group">
	<a href='<%= cards_path %>' class="btn btn-danger">Карточки</a>
	
	<% if signed_in? %>
		<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
	 		<span class='glyphicon glyphicon-plus'></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href='<%= new_card_path %>?kind=text'>
				Текст
				<span class='text_icon glyphicon glyphicon-text-width'></span>
			</a></li>
			<li><a href='<%= new_card_path %>?kind=image'>
				Картинка
				<span class='picture_icon glyphicon glyphicon-picture'></span>
			</a></li>
			<li><a href='<%= new_card_path %>?kind=audio'>
				Музыка
				<span class='audio_icon glyphicon glyphicon-music'></span>
			</a></li>
			<li><a href='<%= new_card_path %>?kind=video'>
				Видео
				<span class='audio_icon glyphicon glyphicon-film'></span>
			</a></li>
		</ul>
	<% end %>
</span>

<span class="btn-group">
	<a href='<%= categories_path %>' class="btn btn-success">Категории</a>
	
	<% if signed_in? && current_user.admin? %>
 		<a href='<%= new_category_path %>' class="btn btn-success dropdown-toggle">
 			<span  class='glyphicon glyphicon-plus'></span>
 		</a>
	<% end %>
</span>

<% if signed_in? %>
	<%= link_to 'Пользователи', users_path, class: 'btn btn-warning' %>
<% end %>

<%= link_to 'О проекте', about_path, class: 'btn btn-info' %>
<%= link_to 'Помощь', help_path, class: 'btn btn-default' %>

<% if signed_in? %>
	<%= link_to 'Выход', logout_path, method: :delete, class: 'btn pull-right btn-success' %>
	<%= link_to "Профиль [#{current_user.name}]", current_user, class: 'btn btn-info pull-right' %>
<% else %>
	<%= link_to 'Вход', login_path, class: 'btn pull-right btn-success' %>
	<%= link_to 'Регистрация', new_user_path, class: 'btn btn-default pull-right' %>
<% end %>

<div class='row'>
	<%= @debug_info && debug(@debug_info) %>
</div>