<style>
.nav LI {background-color: skyblue; text-align: center;}
</style>
<ul class='nav nav-pills nav-justified'>
	<li><a>
		<a href='<%= root_path %>'>Домой</a>
		<a href='<%= root_path %>'>Домой</a>
	</a></li>
	<li><a href='#'>2</a></li>
	<li><a href='#'>3</a></li>
	<li><a href='#'>4</a></li>
</ul>

<ul class="nav nav-pills nav-justified">
	<li class='active'><%= link_to 'Главная', home_path, class: '' %></li>

	<li><a href='<%= matters_path %>' class='red'>Объекты</a></li>

	<!--Карточки-->
	<li class='dropdown'>
		<a href='<%= cards_path %>'
			class='dropdown-toggle yellow'
			data-toggle='dropdown'
		>
		Карточки
		<span class='caret'></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li><a href='<%= new_card_path %>?kind=text'>
				Текст
				<span class='text_icon glyphicon glyphicon-text-width'></span>
			</a></li>
			<li><a href='<%= new_card_path %>?kind=image'>
				Картинка
				<span class='picture_icon glyphicon glyphicon-picture'></span>
			</a></li>
			<li><a href='<%= new_card_path %>?kind=audio'>
				Музыка
				<span class='audio_icon glyphicon glyphicon-music'></span>
			</a></li>
			<li><a href='<%= new_card_path %>?kind=video'>
				Видео
				<span class='audio_icon glyphicon glyphicon-film'></span>
			</a></li>
		</ul>
	</li>
	<!--Карточки-->

	<!--Категории-->
	<li class='dropdown'>
		<a 	href='<%= categories_path %>'
			class='dropdown-toggle green'
			data-toggle='dropdown'
		>
			Категории
			<span class='caret'></span>
			</a>
			<ul class='dropdown-menu'>
				<li><%= link_to 'Список', categories_path %></li>
				<% if admin? %>
					<li><%= link_to 'Новая категория', new_category_path %></li>
				<% else %>
					</a>
				<% end %>
			</ul>
	</li>
	<!--Категории-->

	<!--Пользователи-->
	<% if signed_in? %>
		<li><%= link_to 'Пользователи', users_path, class: '' %></li>
	<% end %>
	<!--Пользователи-->

	<li><%= link_to 'О проекте', about_path, class: '' %></li>
	<li><%= link_to 'Помощь', help_path, class: '' %></li>

	<li class='disabled'>&nbsp;</li>

	<!---->
	<% if signed_in? %>
		<li><%= link_to "Профиль [#{current_user.name}]", current_user, class: '' %></li>
		<li><%= link_to 'Выход', logout_path, method: :delete, class: '' %></li>
	<% else %>
		<li><%= link_to 'Регистрация', new_user_path, class: '' %></li>
		<li><%= link_to 'Вход', login_path, class: '' %></li>
	<% end %>
	<!---->
</ul>
