<% provide(:title,'О проекте') %>

<h2 class='page_title'><%= yield(:title) %></h2>
<p>Соционический каталог явлений окружающей жизни.</p>
<p>Мобильное приложение для работы с ним.</p>

<% if Rails.env.dev? %>
	<ul>
		<li>Time.zone: <%= Time.zone %></li>
		<li>Time.now (сервер): <%= Time.now %></li>
		<li>Time.current (приложение): <%= Time.current %></li>
	</ul>

	<hr>
	Rails.configuration.x.password_reset:<br>
	<ul>
		<% Rails.configuration.x.password_reset.each do |k,v| %>
			<li><%= "#{k} => #{v}" %></li>
		<% end %>
	</ul>
<% end %>
