<fieldset class='card' id='card<%= card.id %>'>
	<legend class='card_title'>
		<a href='<%= card_path(card.id) %>'>
			<%= card.title %>
		</a>
	</legend>
	<% if true==editable %>
	<%= link_to 'Изменить', edit_card_path(card.id), class:'btn btn-info btn-small pull-right' %>
	<% end %>
	<div class='card_content'><%= card.content %></div>
</fieldset>