<div class='row card_categories'>
	<div class='title'>Категория:</div>
	<% card.categories.each do |c| %>
		<span class='badge'>
			<a 
				class='tag'
				href="<%= category_path(c) %>" 
			>
				<%= c.name %>
			</a>
			<a 
				class="delete_link" 
				href="<%= cc_unbind_path(c.id,card.id) %>" 
				title="удалить категорию «<%= c.name %>»" 
				data-method="POST" 
				data-confirm="Удалить метку «<%= c.name %>» 
из карточки «<%= card.title %>»?" 
			>&#215;</a>
		</span>
	<% end %>
</div>