<fieldset class='card' id="<%= card_id(card.id) %>">
	
	<legend class='card_title'>
		<a href='<%= card_path(card.id) %>'><%= card.title %></a><span class='item_user'>, от <%= link_to(card.user.name, user_path(card.user), class: 'badge') %></span>
	</legend>

	<div class='btn-group btn-group-vertical pull-right buttons_container'>
		<% if true==editable %>
			<% if signed_in? %>
				<% if (current_user==card.user) || current_user.admin? %>
					<%= link_to 'Изменить', edit_card_path(card), class:'btn btn-info btn-small pull-right' %>
				<% end %>
				<% if current_user.admin? %>
					<%= link_to 'Удалить', card, method: :delete, data: { confirm: "Удалить карточку?\n\n«#{card.title}»" }, class:'btn btn-danger btn-small pull-right' %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	
	<div class='card_content'>
		<%= my_sanitize(card.content) %>
	</div>
</fieldset>