<% 
if 'new'==mode then
	submit_button = 'Создать'
	cancel_path = cards_path
	cancel_title = 'вернуться к списку карточек'
else
	
	submit_button = 'Сохранить'
	cancel_path = card_path(@obj.id)
	cancel_title = 'вернуться к просмотру карточки'
end
%>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='card_edit col-md-8 col-md-offset-2'>
	<%= form_for @obj do |f| %>
		<%= render 'shared/error_messages.html.erb', object:f.object %>
		
		<!--<fieldset class='kind'>
			<legend><%= f.label :kind, 'Тип' %></legend>
			<%= select_tag 'card[kind]', options_for_select(Card.kinds,Card.kinds[@obj.kind]) %>
		</fieldset>-->

		<fieldset class='title'>
			<legend><%= f.label :title, 'Название' %></legend>
			<%= f.text_field :title %>
		</fieldset>
		
		<fieldset class='content'>
			<legend><%= f.label :content, 'Содержимое' %></legend>
			<% unless @obj.kind.nil? %>
				<%= render 'content', type:@obj.kind, form:f %>
			<% else %>
				<%= render 'type_chooser' %>
			<% end %>
		</fieldset>
		
		<fieldset class='description'>
			<legend><%= f.label :description, 'Описание' %></legend>
			<%= f.text_area :description %>
		</fieldset>
		
		<fieldset class='categories'>
			<legend><label>Категории</label></legend>
				<% @checkboxes.each do |id,data| %>
					<label class='item'>
						<%= check_box_tag 'categories[]', id, data[:checked] %>
						<%= data[:name] %>
					</label>
				<% end %>
		</fieldset>

		<fieldset class='controls clearfix'>
			<%= link_to 'Отмена', cancel_path, title:cancel_title, class:'btn btn-default pull-left' %>
			<%= f.submit submit_button, class:'btn btn-success pull-right' %>
		</fieldset>
	<% end %>
</div>