<%
if 'edit'==mode 
	cancel_path = card_path(@obj)
	selected_cats = @obj.categories.pluck(:id)
	button_text = 'Сохранить'
	ctg_label = 'Категория'
else
	cancel_path = cards_path
	selected_cats = nil
	button_text = 'Создать'
	ctg_label = 'Категория'
end
%>

<div class='row'>
	<div class='col-md-4 pull-left'>
		<div id='title_area'>
			<%= f.label :title, 'Название' %>
			<%= f.text_field :title, placeholder:'...', class: 'edit_field' %>
		</div>
		<div id='content_area'>
			<%= f.label :content, 'Содержимое' %>
			<%= f.text_area :content, placeholder:'...', class: 'edit_area' %>
		</div>
	</div>
	<div class='col-md-4 pull-right'>
		<div id='categories_area'>
			<fieldset>
				<legend><%= ctg_label %></legend>
				<ul>
					<% @checkboxes.each do |id,data| %>
						<label>
							<%= check_box_tag 'categories[]', id, data[:checked] %>
							<%= data[:name] %>
						</label>
					<% end %>
				</ul>
			</fieldset>
		</div>
		<div id='attachments_area'>
			<%= label_tag(:attachments, 'Вложения') %>
			<%= text_area_tag(:attachments, nil, {disabled:true,style:'width:100%'}) %>
		</div>
	</div>
	<div class='col-md-10'>
		<%= link_to 'Отмена', cancel_path, class: 'btn pull-left' %>
		<%= f.submit button_text, class: 'btn btn-primary pull-right' %>
	</div>
</div>
