<% provide(:title,'Карточки') %>

<h2 class='page_title'><%= yield(:title) %></h2>

<div class='col-md-8 col-md-offset-2'>
	<%= render 'comfort_buttons', mode:'create' %>

	<ul class='cards_index'>
		<% @list.each do |crd| %>
			<% user = crd.user %>
			<li>
				<%= link_to crd.title, card_path(crd.id), title: "карточка «#{crd.title}»", class:'title' %>,
				<span class='badge card_kind <%= card_badge(crd.kind) %>'><%= crd.kind %></span>
				от
				<%= link_to user.name, user_path(user), title: "пользователь «#{user.name}»", class:'badge author' %>

				<%= render 'side_controls', obj:crd %>
			</li>
		<% end %>
	</ul>
</div>