<% provide(:title,'Создание карточки') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='card_edit col-md-8 col-md-offset-2'>
	<%= form_for @obj do |f| %>
		<%= render 'shared/error_messages.html.erb', object:f.object %>
		
		<fieldset class='title'>
			<legend><%= f.label :title, 'Название' %></legend>
			<%= f.text_field :title %>
		</fieldset>
		
		<fieldset class='content'>
			<legend><%= f.label :content, 'Содержимое' %></legend>
			<%= f.text_area :content %>
		</fieldset>
		
		<fieldset class='description'>
			<legend><%= f.label :description, 'Описание' %></legend>
			<%= f.text_area :description %>
		</fieldset>
		
		<fieldset class='categories'>
			<legend><label>Категории</label></legend>
				<% @checkboxes.each do |id,data| %>
					<label class='item'>
						<%= check_box_tag 'categories[]', id, data[:checked] %>
						<%= data[:name] %>
					</label>
				<% end %>
		</fieldset>

		<fieldset class='controls clearfix'>
			<%= link_to 'Отмена', cards_path, title:'вернуться к списку карточек', class:'btn btn-default pull-left' %>
			<%= f.submit 'Создать', class:'btn btn-success pull-right' %>
		</fieldset>
	<% end %>
</div>