<% provide(:title,'Карточка') %>

<!--<h2 class='page_title'><%= yield(:title) %></h2>-->

<%= render 'comfort_buttons' %>

<div class='card col-md-8 col-md-offset-2'>

	<!-- кнопки управления (начало) -->
	<% if signed_in? %>
		<div class='controls btn-group pull-right'>
			<% if @obj.user == current_user || current_user.admin? %>
				<%= link_to edit_card_path(@obj.id), class: 'btn btn-default btn-xs', title: 'изменить' do %>
					<span class='glyphicon glyphicon-edit'></span>
				<% end %>
			<% end %>
			<% if current_user.admin? %>
				<%= link_to card_path(@obj.id), method: 'delete', data: { confirm: 'Удалить карточку?'}, class: 'btn btn-danger btn-xs', title: 'удалить' do %>
						<span class='glyphicon glyphicon-remove'></span>
				<% end %>
			<% end %>
		</div>
	<% end %><!-- кнопки управления (конец) -->
	
	<div class='title'>
		<%= link_to(@obj.matter.name, matter_path(@obj.matter), class:'matter badge') if not @obj.matter.nil? %>
		<%= @obj.title %>
	</div>
	
	<div class='content'>
		<%= show_content(@obj) %>
	</div>

	<div class='description'><%= my_sanitize(@obj.description) %></div>
	<div class='categories'>
		<% @obj.categories.each do |ctg| %>
			<%= link_to ctg.name, category_path(ctg), title:"категория «#{ctg.name}»", class:'item badge' %>
		<% end %>
	</div>
</div>