<div class='row'>
	<%= f.label :name, 'Имя' %>
	<%= f.text_field :name, class: 'edit_field' %>

	<%= f.label :description, 'Описание' %>
	<%= f.text_area :description, class: 'edit_area' %>
</div>
<div class='bottom_buttons_holder'>
	<% cancel_path = ('edit'==mode) ? url_for(controller: controller_name, action:'show', id:@obj.id) : url_for(controller: controller_name, action: 'index') %>
	<%= link_to 'Отмена', cancel_path, class: 'btn' %>
	<%= f.submit button_text, class: 'btn btn-primary pull-right' %>
</div>