<% provide(:title,"Категория «#{@obj.name}»") %>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='col-md-8 col-md-offset-2'>
	<%= render 'comfort_buttons' %>
	
	<div class='row description'><%= @obj.description %></div>
	
	<div class='row'>
		<%= 
			link_to(
				'Изменить', 
				edit_category_path(@obj.id), 
				class:'btn btn-default',
			) if (signed_in? && current_user.admin?)
		%>
		<%= 
			link_to(
				'Удалить', 
				category_path(@obj.id), 
				method: :delete, 
				data: {confirm:"Удалить раздел\n\n«#{@obj.name}» ?"},
				class: 'btn btn-danger pull-right',
			) if (signed_in? && current_user.admin?)
		%>
	</div>
	
	<div class='category_members'>
		<div class='title'>Карточки в разделе:</div>
		<ul>
		<% @obj.cards.each do |c| %>
			<li><%= link_to c.title, card_path(c) %></li>
		<% end %>
		</ul>
	</div>
</div>