<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row main_menu">
			<%= render 'shared/header' %>
		</div>
		<div class='row'>
			<%= render 'shared/flash.html.erb' %>
		</div>
		<div class="row main_content">
			<%= yield %>
		</div>
		<div class='row span10 offset1'>
			<% if Rails.env.development? %>
				http-параметры:<br>
				<%= debug(params) %>
				
				REQUEST_URI:<br>
				<%= debug(request.env['REQUEST_URI']) %>

				request.referer:<br>
				<%= debug(request.referer) %>
				
				cookies[:referer]:<br>
				<%= debug(cookies[:referer]) %>

				Cookies:<br>
				<%= debug(cookies[:referer]) %>
			<% end %>
		</div>
	</div>
</body>
</html>
