<!DOCTYPE html>
<html>
<head>
  <title>SocioCat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<%= link_to 'Главная страница', home_path %>
	<%= link_to 'О проекте', about_path %>
	<%= link_to 'Помощь', help_path %>
</nav>

<%= yield %>

</body>
</html>
